<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:include="~{head :: headFragment}">

</head>
<body>

<div th:insert="~{menu_navbar :: menu}"></div>

<main>
    <div class="container">
        <div class="row my-5">

            <div class="col-lg-3">
                <div th:insert="~{categories/categoryBlock :: categories}"></div>
            </div>

            <div class="col-lg-3">
                <h1 class="my-4">Settings</h1>
                <div class="my-4">
                    <div sec:authorize="hasRole('ADMIN')">
                        <!--<span>Only for admin</span>-->
                        <!-- Delete item, only for admin -->
                        <a href="/categories/addPage">Add category</a>
                    </div>
                </div>
            </div>

            <div class="col-lg-6">
                <h1 class="my-4">User info</h1>
                <div class="my-4" th:if="${#request.userPrincipal != null}">
                    <div th:if="${user != null}">

                        <div th:if="${user.name != null && !user.name.equals('')}">
                            <label>Username: </label>
                            <label th:text="${user.name}"></label>
                        </div>

                        <div th:if="${user.firstName != null && !user.firstName.equals('')}">
                            <label>First name: </label>
                            <label th:text="${user.firstName}"></label>
                        </div>

                        <div th:if="${user.lastName != null && !user.lastName.equals('')}">
                            <label>Last name: </label>
                            <label th:text="${user.lastName}"></label>
                        </div>

                        <div th:if="${user.age != null}">
                            <label>Age: </label>
                            <label th:text="${user.age}"></label>
                        </div>

                        <div th:if="${user.roles != null}">
                            <div th:each="role : ${user.roles}">
                                <label>Role: </label>
                                <label th:text="${role.name}"></label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

</body>
</html>