<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="~{head :: headFragment}">

</head>
<body>

<div th:insert="~{menu_navbar :: menu}"></div>

<main>
    <div class="container">
        <div class="row my-5">
            <div th:if="${#request.getParameter('error') == 'true'}"
                 style="color:red;margin:10px 0px;">
                Login Failed!!!<br/>
                Reason : <label th:value="${#request.getParameter('errorName')}"></label>

            </div>

            <form action="/users" method="post" name="newUser">
                <label>Username: </label> <input type="text" name="name" id="tbUsername"/><br/>
                <label>Password: </label> <input type="text" name="password" id="tbPassword"/><br/>
                <label>First name: </label> <input type="text" name="firstName" id="tbFirstName"/><br/>
                <label>Last name: </label> <input type="text" name="lastName" id="tbLastName"/><br/>
                <label>Age: </label> <input type="number" name="age" id="tbAge"/><br/>
                <th:block th:each="role : ${roles}">
                    <input type="checkbox" name="roles" th:value="${role.id}">
                    <label th:text="${role.name}"></label><br/>
                </th:block>
                <input type="submit" name="submit" id="submit" value="SignUp"/><br/>
            </form>
        </div>
    </div>

</main>

</body>
</html>