body {
    padding-top: 54px;
}

@media (min-width: 992px) {
    body {
        padding-top: 56px;
    }
}

.card-img-top-700-400 {
    width : 700px;
    height : 400px;
}

/* Equal-height card images, cf. https://stackoverflow.com/a/47698201/1375163*/
.card-img-top {
    /*height: 11vw;*/
    object-fit: cover;
}
.card {
    object-fit: cover;
}
/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
    .card-img-top {
        height: 19vw;
        width: 19vw;
    }
    .card {
        width: 19vw;
        height: 38vw;
    }
}
/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .card-img-top {
        height: 16vw;
        width: 16vw;
    }
    .card {
        width: 16vw;
        height: 32vw;
    }
}
/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .card-img-top {
        height: 11vw;
        width: 11vw;
    }
    .card {
        width: 11vw;
        height: 22vw;
    }
}
/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 992px) {
    .card-img-top {
        height: 11vw;
        width: 11vw;
    }
    .card {
        width: 11vw;
        height: 22vw;
    }
}

.list-group-item.inner {
    border: none;
}

.dropdown-submenu {
    position: relative;
}

.dropdown-submenu > .dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover > .dropdown-menu {
    display: block;
}

.dropdown-submenu > a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown-submenu:hover > a:after {
    border-left-color: #fff;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left > .dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}

.none-border {
    border: none;
}

.list-group-item.inner-1{
    margin-left: 1em;
    border: none;
}

.list-group-item.inner-2{
    margin-left: 2em;
    border: none;
}

