<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="~{head :: headFragment}">

</head>
<body>

<div th:insert="~{menu_navbar :: menu}"></div>

<main>
    <div>
        <div class="container">
            <div class="row my-5">
                <div class="my-5">
                    <div th:insert="~{errors/error :: errorBlock}" class="my-5"></div>
                    <h3>Add new item</h3><br/>
                    <!--<div class="row my-5">-->
                    <form action="/items" name="addItem" novalidate id="fAddItem" method="post"
                          enctype="multipart/form-data">
                        <p><label>Name: </label> <input id="itName" type="text" form="fAddItem" name="name"></p>
                        <p><label>Price: </label> <input id="itPrice" type="text" form="fAddItem" name="price"></p>
                        <p><label>Count in stock: </label> <input id="itCountInStock" type="number" form="fAddItem"
                                                                  name="countInStock"></p>
                        <p><label>Avatar: </label> <input id="itAvatar" type="file" form="fAddItem" name="avatar"></p>
                        <p>
                            <label>Categories: </label>
                            <!--<th:block th:each="category : ${categories}">
                                <input type="checkbox" name="categories" th:value="${category.id}">
                                <label th:text="${category.name}"></label><br/>
                            </th:block>-->
                        <ul class="my-4 list-group">
                            <div th:each="categoryNode0 : ${categoryTree}">
                                <div th:if="${(immediateDescendantsMap.get(categoryNode0.getAncestor()).getValue0().intValue() == 0) && (categoryNode0.getAncestor().equals(categoryNode0.getDescendant()))}">
                                    <!-- Level 0 categories -->
                                    <li class="list-group-item">
                                        <label th:text="${categoryNode0.getAncestor().name}"></label>
                                        <input type="checkbox" name="categories"
                                               th:value="${categoryNode0.getAncestor().id}">
                                    </li>

                                    <div th:if="${immediateDescendantsMap.get(categoryNode0.getAncestor()) != null}">
                                        <li class="list-group-item">
                                            <ul class="list-group">
                                                <div th:each="category1 : ${immediateDescendantsMap.get(categoryNode0.getAncestor()).getValue1()}">
                                                    <!-- Level 1 categories -->
                                                    <li class="list-group-item inner-1">
                                                        <lable th:text="${category1.name}"></lable>
                                                        <input type="checkbox" name="categories"
                                                               th:value="${category1.id}">
                                                    </li>

                                                    <div th:if="${immediateDescendantsMap.get(category1) != null}">
                                                        <li class="list-group-item inner">
                                                            <ul class="list-group">
                                                                <div th:each="category2 : ${immediateDescendantsMap.get(category1).getValue1()}">
                                                                    <!-- Level 2 categories -->
                                                                    <li class="list-group-item inner-2">
                                                                        <label th:text="${category2.name}"></label>
                                                                        <input type="checkbox" name="categories"
                                                                               th:value="${category2.id}">
                                                                    </li>
                                                                </div>
                                                            </ul>
                                                        </li>
                                                    </div>

                                                </div>

                                                <!--<a th:href="'/' + ${category0.getId()}"
                                                   th:text="${category0.name}"></a><br/>-->
                                            </ul>
                                        </li>
                                    </div>
                                </div>
                            </div>
                        </ul>
                        </p>
                        <!--<input id="btnAddItem" type="submit" value="add"/>-->
                        <input type="submit" value="add">
                    </form>
                    <p id="result"></p>
                </div>
            </div>
        </div>
    </div>
</main>

</body>
</html>