<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:include="~{head :: headFragment}">

</head>
<body>

<div th:insert="~{menu_navbar :: menu}"></div>

<main>
    <div class="container">

        <div class="row my-5">
            <!--<div th:insert="~{errors/error :: errorBlock}" class="my-5"></div>-->
            <div>
                <h3>Update item</h3>
            </div>
            <div class="my-5 text-danger border border-danger" hidden="true"></div>
        </div>

        <div class="row my-5">
            <div class="my-4">
                <input type="hidden" id="id" th:value="${item.id}">

                <!--<div>
                    <label class="font-weight-bold">Old name: </label>
                    <div th:text="${item.name}"></div>
                </div>-->
                <div>
                    <label class="font-weight-bold">New name: </label>
                    <input type="text" id="name" name="name" th:value="${item.name}">
                </div>

                <!--<div>
                    <label class="font-weight-bold">Old price: </label>
                    <div th:text="${item.price} + ' &#8381;'"></div>
                </div>-->
                <div>
                    <label class="font-weight-bold">New price: </label>
                    <input type="number" id="price" name="price" th:value="${item.price}">
                </div>

                <!--<div>
                    <label class="font-weight-bold">Old count: </label>
                    <div th:text="'Count: ' + ${item.countInStock}"></div>
                    <br>
                </div>-->
                <div>
                    <label class="font-weight-bold">New count: </label>
                    <input type="number" id="count" name="count" th:value="${item.countInStock}">
                </div>


                <label>Categories: </label>
                <!--<th:block th:each="category : ${categories}">
                    <input type="checkbox" name="categories" th:value="${category.id}">
                    <label th:text="${category.name}"></label><br/>
                </th:block>-->
                <ul class="my-4 list-group">
                    <div th:each="categoryNode0 : ${categoryTree}">
                        <div th:if="${(immediateDescendantsMap.get(categoryNode0.getAncestor()).getValue0().intValue() == 0) && (categoryNode0.getAncestor().equals(categoryNode0.getDescendant()))}">
                            <!-- Level 0 categories -->
                            <li class="list-group-item">
                                <label th:text="${categoryNode0.getAncestor().name}"></label>
                                <input type="checkbox"
                                       name="categories"
                                       th:checked="${item.categories.contains(categoryNode0.getAncestor())}"
                                       th:value="${categoryNode0.getAncestor().id}">
                            </li>

                            <div th:if="${immediateDescendantsMap.get(categoryNode0.getAncestor()) != null}">
                                <li class="list-group-item">
                                    <ul class="list-group">
                                        <div th:each="category1 : ${immediateDescendantsMap.get(categoryNode0.getAncestor()).getValue1()}">
                                            <!-- Level 1 categories -->
                                            <li class="list-group-item inner">
                                                <lable th:text="${category1.name}"></lable>
                                                <input type="checkbox"
                                                       name="categories"
                                                       th:checked="${#sets.contains(item.categories, category1)}"
                                                       th:value="${category1.id}">
                                            </li>

                                            <div th:if="${immediateDescendantsMap.get(category1) != null}">
                                                <li class="list-group-item inner">
                                                    <ul class="list-group">
                                                        <div th:each="category2 : ${immediateDescendantsMap.get(category1).getValue1()}">
                                                            <!-- Level 2 categories -->
                                                            <li class="list-group-item inner">
                                                                <label th:text="${category2.name}"></label>
                                                                <input type="checkbox"
                                                                       name="categories"
                                                                       th:checked="${#sets.contains(item.categories, category2)}"
                                                                       th:value="${category2.id}">
                                                            </li>
                                                        </div>
                                                    </ul>
                                                </li>
                                            </div>

                                        </div>

                                        <!--<a th:href="'/' + ${category0.getId()}"
                                           th:text="${category0.name}"></a><br/>-->
                                    </ul>
                                </li>
                            </div>
                        </div>
                    </div>
                </ul>



                <div>
                    <button id="updateBtn">update</button>
                </div>
            </div>

        </div>
    </div>
</main>
<script th:src="@{/js/items/update.js}"></script>
</body>
</html>